<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceragem.batch.crm.dao.CrmOrgBaseDao">
    <sql id="sqlPkConditions">
                WHERE ORG_ID            =       #{orgId}
    </sql>
    <sql id="sqlCols">
                      ORG_ID                    /*조직ID        */
                    , ORG_NM                    /*조직명        */
                    , ORG_CLASS_ID                    /*조직분류ID        */
                    , ORG_CLASS_NM                    /*조직분류명        */
                    , LVL_NO                    /*레벨번호        */
                    , ORG_ODRG                    /*조직순번        */
                    , UP_ORG_ID                    /*상위조직ID        */
                    , UP_ORG_NM                    /*상위조직명        */
                    , ORG_EMP_ID                    /*조직사원ID        */
                    , ORG_EMP_NM                    /*조직사원명        */
                    , STA_YMD                    /*시작년월일        */
                    , END_YMD                    /*종료년월일        */
                    , REGR_ID                    /*등록자ID        */
                    , REG_DT                    /*등록일시        */
                    , AMDR_ID                    /*수정자ID        */
                    , AMD_DT                    /*수정일시        */
    </sql>
    <sql id="sqlConditions">
       <where>
        <if test="orgId != null and orgId != ''">
                      AND ORG_ID            =       #{orgId}
        </if>
        <if test="orgNm != null and orgNm != ''">
                      AND ORG_NM            =       #{orgNm}
        </if>
        <if test="orgClassId != null and orgClassId != ''">
                      AND ORG_CLASS_ID      =       #{orgClassId}
        </if>
        <if test="orgClassNm != null and orgClassNm != ''">
                      AND ORG_CLASS_NM      =       #{orgClassNm}
        </if>
        <if test="lvlNo != null and lvlNo != ''">
                      AND LVL_NO            =       #{lvlNo}
        </if>
        <if test="orgOdrg != null and orgOdrg != ''">
                      AND ORG_ODRG          =       #{orgOdrg}
        </if>
        <if test="upOrgId != null and upOrgId != ''">
                      AND UP_ORG_ID         =       #{upOrgId}
        </if>
        <if test="upOrgNm != null and upOrgNm != ''">
                      AND UP_ORG_NM         =       #{upOrgNm}
        </if>
        <if test="orgEmpId != null and orgEmpId != ''">
                      AND ORG_EMP_ID        =       #{orgEmpId}
        </if>
        <if test="orgEmpNm != null and orgEmpNm != ''">
                      AND ORG_EMP_NM        =       #{orgEmpNm}
        </if>
        <if test="staYmd != null and staYmd != ''">
                      AND STA_YMD         =       #{staYmd}
        </if>
        <if test="endYmd != null and endYmd != ''">
                      AND END_YMD           =       #{endYmd}
        </if>
        </where>
    </sql>
    <select id="selectListCount" resultType="int">
                SELECT COUNT(1)
                 FROM CRM_ORG_BAS
        <include refid="sqlConditions"/>
    </select>
    <select id="selectList" resultType="com.ceragem.batch.crm.model.CrmJadeOrgVo">
        <include refid="com.ceragem.batch.crm.dao.CrmCommonDao.pagingHeader"/>
               SELECT <include refid="sqlCols"/>
                 FROM CRM_ORG_BAS
        <include refid="sqlConditions"/>
               ORDER BY LVL_NO 
<!--                    , ORG_ODRG -->
                   , ORG_NM
                   , ORG_ODRG
        <include refid="com.ceragem.batch.crm.dao.CrmCommonDao.pagingFooter"/>
    </select>
    <select id="select" resultType="com.ceragem.batch.crm.model.CrmJadeOrgVo">
               SELECT <include refid="sqlCols"/>
                 FROM CRM_ORG_BAS
        <include refid="sqlPkConditions"/>
    </select>
    <insert id="insert">
                INSERT INTO CRM_ORG_BAS (
        <include refid="sqlCols"/>
                 ) VALUES (
                       #{orgId}
                     , #{orgNm}
                     , #{orgClassId}
                     , #{orgClassNm}
                     , #{lvlNo}
                     , #{orgOdrg}
                     , TRIM(#{upOrgId})
                     , #{upOrgNm}
                     , #{orgEmpId}
                     , #{orgEmpNm}
                     , #{staYmd}
                     , #{endYmd}
                     , #{regrId}
                     , SYSDATE
                     , #{amdrId}
                     , SYSDATE
                 )
    </insert>
    <update id="update">
               UPDATE CRM_ORG_BAS
                  SET ORG_NM              =         #{orgNm}
                    , ORG_CLASS_ID        =         #{orgClassId}
                    , ORG_CLASS_NM        =         #{orgClassNm}
                    , LVL_NO              =         #{lvlNo}
                    , ORG_ODRG            =         #{orgOdrg}
                    , UP_ORG_ID           =         TRIM(#{upOrgId})
                    , UP_ORG_NM           =         #{upOrgNm}
                    , ORG_EMP_ID          =         #{orgEmpId}
                    , ORG_EMP_NM          =         #{orgEmpNm}
                    , STA_YMD             =         #{staYmd}
                    , END_YMD             =         #{endYmd}
                    , AMDR_ID             =         #{amdrId}
                    , AMD_DT              =         SYSDATE
        <include refid="sqlPkConditions"/>
    </update>
    <delete id="delete">
               DELETE FROM CRM_ORG_BAS
        <include refid="sqlPkConditions"/>
    </delete>
</mapper>
